.main-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   min-width: 200;
   max-width: 400px;
   min-height: 700px;
   max-height: 700px;
   padding: 40px;
}

.screen {
   align-items: flex-end;
   background-color: #1a252c;
   border-radius: 16px 16px 0 0;
   display: flex;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 36px;
   height: 300px;
   justify-content: flex-end;
   padding: 24px;
}

.button-container {
   align-items: stretch;
   background-color: #1c272f;
   border-radius: 0 0 16px 16px;
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: space-around;
   padding: 24px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
   display: flex;
   justify-content: space-between;
}

button {
   background-color: #1c272f;
   border: none;
   border-radius: 8px;
   color: #edf1f4;
   height: 50px;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 50px;
}

button:hover {
   background-color: #2c373f;
}

button span {
   color: #f5a814;
}

.equal {
   background-color: #f5a814;
}

.equal-button {
   color: #edf1f4;
}

.equal:hover {
   background-color: #f7cb79;
}
